@tailwind base;
@tailwind components;
@tailwind utilities;



.icon{
    border: 2px solid;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 2px 2px 2px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#facebook{
    color: rgb(68, 125, 250);
}

#twitter{
    color: rgb(61, 160, 241);
}

#instagram{
    color: rgb(221, 68, 111);
}

#whatsapp{
    color: rgb(61, 241, 142);
}

#telegram{
    color: rgb(95, 145, 245);
}

#modal{
    scale: 0;
}

.active{
    scale: 1;
}