*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
    
  }
  
  #page{
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;
    perspective: 20px; /* Distance between window and your eyes*/
  }
  
  .container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
  }

.background{
    transform: translateZ(-40px) scale(4); 
}

.foreground{
  transform: translateZ(-20px) scale(2.1);
}

  .background,.foreground{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    
  }

  h1{
    color: white;
    font-size: 8rem;
    position: absolute;
    top: 4rem;
    letter-spacing: 0.3rem;
    text-shadow: 20px 5px 10px black;
    
  }
  
  section{
    background-color: rgba(24, 23, 23, 0.977);
  }


  .secheading{
    font-size: 3.8rem;
    margin: 1rem;
    padding-top: 3rem;
    padding-bottom: 2.3rem;
    padding-left: 5rem;

  }

  .paragraph{
    margin: 1rem;
    padding-bottom: 2.3rem;
    padding-left: 5rem;
    padding-right: 5rem;

  }


  .text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2.6rem;
    background-color: rgba(255, 255, 255, 0.669);
    color: black;
    padding: 0.5rem 2.5rem;
    font-weight: 700;
    transform: translateX(-130px);
  }

  .bg1{
    background-image: url(sport-1.jpg);
  }

  .bg2{
    background-image: url(sport-3.jpg);
  }

  .bg3{
    background-image: url(sport-2.jpg);
  }

  .bg{
    height: 30rem;
    position: relative;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

  }

  
@media(min-width: 360px) and (max-width: 500px){
  h1{
   color: white;
   font-size: 3rem;
   position: absolute;
   top: 4rem;
   letter-spacing: 0.3rem;
   text-shadow: 10px 2px 10px black;
   
  }

  .secheading{
    font-size: 2.5rem;
    margin: 1rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
    padding-left: 3rem;

  }

  .paragraph{
    margin: 1rem;
    padding-bottom: 2.3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

  }

}

@media(min-width: 501px) and (max-width: 900px){

  h1{
    color: white;
    font-size: 4rem;
    position: absolute;
    top: 4rem;
    letter-spacing: 0.3rem;
    text-shadow: 10px 2px 10px black;
  }

  .secheading{
    font-size: 2.5rem;
    margin: 1rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
    padding-left: 3rem;

  }

  .paragraph{
    margin: 1rem;
    padding-bottom: 2.3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

  }
}



